.icon {
  height: 32px;
  width: 32px;
  background-size: cover;

  &--close {
    height: 20px;
    width: 20px;
    background-image: url('../images/icons/close-icon.png');
  }

  &--menu {
    height: 20px;
    width: 20px;
    background-image: url('../images/icons/menu-icon.png');
  }

  &--go-up {
    height: 20px;
    width: 20px;

    background-image: url('../images/icons/go-up-icon.png');
  }

  &--insta {
    background-image: url('../images/icons/insta-icono.png');
  }
  &--facebook {
    background-image: url('../images/icons/facebook-icon.png');
  }
  &--phone {
    background-image: url('../images/icons/phone-icon.png');
  }
  &--telegram {
    background-image: url('../images/icons/telegram-icon.png');
  }
  &--prem {
    background-image: url('../images/icons/prem-icon.svg');
  }
  &--calendar {
    background-image: url('../images/icons/calendar-icon.svg');
  }
  &--key {
    background-image: url('../images/icons/key-icon.svg');
  }
  &--one-time-diagnostics {
    background-image: url('../images/icons/one-time-diagnostics-icon.svg');
  }
  &-- {
    background-image: url('../images/icons');
  }
  &-- {
    background-image: url('../images/icons');
  }
}