$main-yellow-color: #aba560;
$text-color: #8d8264;
$yellow-dark: #1c1a10;
$yellow-light: #fbfdf0;
$yellow-light-2: #e1e5cb;
$button-color: #535353;
$white-color: #edecec;
$dark-gray-yellow: #9a8343;
$sub-title: #9a9a9a;
$highlight-color: #b6bb9c;
$title-color: #d4b24c;
$grey-text-color: #cfcfcf;

//New colors
$main-grey: #cdcccc;
$dark-text-color: #1e1701;
$top-bat-text: #3f4247;
$yellowe-color: #eab308;
$yellowe-hover-color: #eab208c6;
$bg-section: #f9fafb;