.nav {
  &__link {
    color: #fff;
    height: 100%;
  }

  &__list {
    font-size: 19px;

    @media (max-width: 992px) {
      font-size: 30px;
    }

  }

  &__item {
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:hover {
      color: $yellow-dark;
    }

    @media (min-width: 992px) {
      @include linkHover();
    }
  }
}