.header {
  height: 100vh;
  width: 100%;
  background-image: url(../../images/modile-bg.webp);
  background-position: 50% 0;
  background-size: cover;

   @media (min-width: 740px) {
      background-position: 60% 0;
     background-image: url(../../images/header-bg.webp);
  }

  &__content {
    height: 100%;
  }

  &__overview-content {
    color: #bdbdbd;
  }

  &__title {
    font-size: 52px;
  }

  &__button {
    @include button();
    width: 250px;
  }
}